<link rel="stylesheet" href="/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700&family=Poppins&display=swap" rel="stylesheet">


<h1>Hii, <%= user.name %></h1> <a href="./logout">Logout</a>

<div class="container">
    <div class="users-window">
        <div class="users-head">
            <h3></h3>
            <h4 class="user-counts">
               <%= users.length %>
            </h4>
        </div>
        <div class="users-list">
            <% users.map(user => { %>
                <div>
                  <h2><%= user.name %></h2>
                </div>
              <% }) %>
        </div>
    </div>
    <div class="chat-window">
        <div class="chats">
            <div class="user-join">
                <p> <b> </b> </p>
            </div>

            <!-- <div class="incomming message">
                <h5>harsh</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptatum nisi perferendis. Natus tempora voluptatibus perferendis tempore laborum veniam distinctio,
                     vitae repellat minus? Accusantium facilis officia voluptatibus dolore quas doloribus!</p>
            </div>
            <div class="outgoing message">
                <h5>test</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptatum nisi perferendis. Natus tempora voluptatibus perferendis tempore laborum veniam distinctio, vitae repellat minus? Accusantium facilis officia voluptatibus dolore quas doloribus!</p>
            </div> -->

        </div>
        <div class="user-input">
            <input type="text" placeholder="Enter the message" id="input-text">
            <button id="btnsend">SEND</button>
        </div>
    </div>
</div>

<!-- <script>
    var socket = io('/user-namespace');
</script> -->


